@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --cor-header: #260209;
    --cor-main: #400211b9;
    --cor-section: #ae81ee79;
    --cor-article: #F2BC8D;
    --cor-footer: #A67356;
    --cor-listas: #ffe4c4;
    --fonte001: "Playwrite NG Modern", cursive;
    --font002: "Modern Antiqua", serif;


}

body {
    background-image: url(../imagens/tecnology003.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0px auto -20px auto;
    background-color: #a6735638;
    border-radius: 12px;

    /*
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: -28px;
    margin-right: auto;
    */

}

menu > li {
    list-style-type: none;
    padding: 9px;
    border-radius: 12px;
    transition-duration: 0.5s;

}

menu > li:hover {
    background-color: #5a1422;
}

menu > li > a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

menu > li > a:hover {
    color: rgb(129, 129, 129);
}

span#burguer {
    color: white;
    cursor: pointer;
}

header {
    background-color: var(--cor-header);
    padding: 28px;
    margin-bottom: -5px;
}

header h1 {
    line-height: 66px;
    max-width: 320px;
    text-shadow: 2px 1px 9px rgba(0, 0, 0, 0.562);
    margin-bottom: 50px;
}

main {
    background-color: rgba(255, 255, 255, 0.932);
    color: black;
    max-width: 400px;
    margin: 10px;
    padding: 14px;
    margin-left: auto;
    margin-right: auto;
}

main h1 {
    text-align: center;
}

h1 {
    font-family: var(--fonte002);
    color: rgb(189, 189, 55);
}

p {
    text-align: justify;
    text-indent: 10px;
    line-height: 28px;
    padding: 15px;
    margin-top: 10px;
}

strong {
    background-color: rgba(255, 255, 0, 0.699);
    padding: 2px;
}

article.first {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.295);
    margin-bottom: 8px;
    padding: 7px;
}

article.second {
    background-color: var(--cor-section);
    color: rgba(0, 0, 0, 0.795);
    border-radius: 9px;
    margin: 31px -14px 32px -14px;
    padding: 20px 8px 15px 8px;
}

article.second h1 {
    background-color: var(--cor-header);
    margin: -19px -8px 20px -8px;
    padding: 12px 35px 20px 35px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

article.second p {
    line-height: 40px;
}

article.Tech {
    margin: 5px 5px 10px 12px;
}

article.Tech h1 {
    color: black;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
    background-image: linear-gradient(to right, var(--cor-article), var(--cor-footer));
    margin: 60px -19px 15px -26px;
    padding: 12px;
}

.benef {
    background-color: var(--cor-listas);
    
    margin: 12.5px;
    padding: 15px;

    border-radius: 12px;
    box-shadow: 4px 1px 3px solid black;
}

.benef > h2 {
    margin: 10px 12px 20px 12px;
    text-shadow: 2px 1px 9px rgba(0, 0, 0, 0.5);
}

.benef > h3 {
    background-color: #260209;
    color: white;

    padding: 8px 10px 8px 25px;
    margin: 0px -15px 5px -15px;
}

.benef > ol {
    text-indent: 15px;
    padding: 10px;
}

.benef > ol > ul {
    line-height: 30px;
    margin-bottom: 15px;
}

.ref {
    background-color: burlywood;

    margin: 10px -13px -13px;
    padding: 12px;

    border: 1.5px groove var(--cor-main);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ref > h3 {
    background-color: var(--cor-header);
    color: white;

    margin: -13px -13px 12px -13px;
    padding: 20px;

    text-align: center;
    text-shadow: 2px 1px 2px #ffffff60;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    font-size: 1.5em;
    font-family: var(--fonte001);
    text-decoration: 1px solid underline;

}

.ref > ol {
    text-indent: 14px;
    padding: 10px;
}

.ref > ol > ul {
    margin-bottom: 25px;
}

main > article.first > div.foto {
    margin: auto;
    position: relative;
    height: 213px;
    width: 320px;
    background-color: rgb(212, 200, 184);
}

main > article.first > div.foto > picture {
    position: absolute;
    height: 250px;
    width: 90%;
}

div.vid {
    background-color: #5a1422;
    margin: 0px -19px 15px -26px;
    padding: 20px;
    padding-bottom: 57.5%;
    position: relative;
    
}

div.vid > iframe {
    top: 5%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: 90%;
}